* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #ffea00;
    --secondary-color: #b7b7a4;
    --complimentary-color: #ffea00;
    /*  
    a98467
    1d4e89-blue
    1282a2-teal blue
    ffea00-yellow
    b9e769-lime green
    641220
    dbe7e4
    b7b7a4
    */
  }

  body,
  html{
    font-family: 'Fugaz One', cursive ,'Lato', sans-serif ,'Sofia', cursive;
    
  }

  section{
    padding: 80px 0 ;
    
    
    
  }
  
  .container {
    min-height: 100vh;
    position: relative;
    
    display: flex;
    background-color: var(--complimentary-color);
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   position: relative;
  }
  
  h1 {
    font-size: 130px;
    font-weight: 400;
    color: var(--primary-color);
    transform: translateY(-600px);
    animation: 1.2s slideIn ease-in-out forwards 1s;
    z-index: 10;
    opacity: 0;
    position: relative;
  }
  
  h1::before {
      content: '';
      width: 0%;
      height: 160px;
      background-color: var(--secondary-color);
      position: absolute;
      bottom: -10px;
      animation: 2s underline ease-in-out forwards 2s;
      mix-blend-mode: screen; 
  }
  
  .overlay {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      opacity: 0;
      left: 0;
      right: 0;
      background-color: var(--secondary-color);
      transform: scale(.5);
      animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
  }
  
  @keyframes skewBg {
    0% {
      transform: scale(.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes underline {
    100% {
      width: 100%;
    }
  }
  
  @keyframes slideIn {
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }



  /* ABOUT ME section */

.about-me{
    
   /* background-color: #a3b18ae5; */
    background-color: #a3b18ae5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill-opacity='0.46' fill='%23ffcc00' cx='45' cy='45' r='8'/%3E%3Cg fill='%23ffff66' fill-opacity='0.46'%3E%3Ccircle cx='0' cy='90' r='5'/%3E%3Ccircle cx='90' cy='90' r='5'/%3E%3Ccircle cx='90' cy='0' r='5'/%3E%3Ccircle cx='0' cy='0' r='5'/%3E%3C/g%3E%3C/svg%3E");
    height: 135vh;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    
    
}

.aboutme-heading{
    color: #fff; 
}

.aboutme-heading h2{
    font-size: 40px;
    font-weight: 300;
}

.aboutme-info-box{
    margin-top:25px ;
   /* margin-left: 15%; */
   text-align: center;
    color: #fff;

    margin-left: 5%;
    margin-right: 5%;
    
    
}

.aboutme-info{
    height: 350px;
    /* //70e000  c71f37*/
  
  background-color:#a3b18abb

    


}
.aboutme-info h3{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.projects{
  font-family: lato;
  text-align: left;
  padding-left: 20px; 
}

.fa-bookmark{
  font-size: 20px;
} 

.projects h2{
  color: #0f4c5c;
}

ul{
  padding: 10px;
}

.btn-proj{
  margin: 10px;
  margin-top: 30px;
  text-decoration: none;
  color: #fff ;
  background-color: #e76f51;
  border-radius: 5px;
  padding: 3px;
  border: 2px ;
}

.btn-proj:link,
.btn-proj:visited{


}

.btn-proj:hover,
.btn-proj:active{
  color: #fff;
  transform: scaleX(1.4) scaleY(1.6);

}

.intrests{
  display: inline;
  margin-top: 20px;
  text-align: center;
  background-color: #c71f37;
  border-radius: 5px;
  padding: 3px;
  border: 2px ;
}






  /* contact me section */

.sec-skills{
    
    background-color: #ffc2d4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ffcc00' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23444444' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ffd722' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23474747' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ffe135' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%234b4b4b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23ffeb46' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%234e4e4e' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23fff556' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23525252' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23ffff66' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23555555' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    margin-top: -45vh;
    height: 190vh;
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
    
    
}

.skills{
  text-align: center;
  margin-top: 80px;
  font-family: lato;
  font-size: 100px;
  font-weight: 500;
}


.imgs img{
  height: 200px;
  width: auto;
  margin-left: 30px;

}


/*     cotact-me section                     */
.contactme{
  background-image: url(bg-img/content.png);
  background-size: cover;
  height: 100vh;
}

.reach-box{
  margin-top: 65vh;
  margin-left: 70vw;
}